#toggle-shown{
    width: 10px;
    height: 50px;
    background-color: rgba(51,51,51,1);
}

.toggle-show {
    position: absolute;
    left: 37%;
    top: 50%;
}

.toggle-hide {
    position: absolute;
    left: 0%;
    top: 50%;
}


#style{
    position: relative;
    width: 30%;
    height: 70%;
    top: 15%;
    left: 30%;
    background-color: rgba(94,94,94,1);
}

.slider {
    overflow-y: hidden;
    max-height: 500px; /* approximate max height */

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.closed {
    max-height: 0;
}

@media (max-width: 600px) {
    body {
        background-color: rgba(189,70,53,1);
        min-height:100%;
        padding:0;
        margin:0;
    }

    #title{
        color: rgba(94,94,94,1);
        font-size:400%;
        text-align: center;
        width: 100%;
        margin: 15px auto;
    }
    #navigation {
        position: absolute;
        top: 150px;
        bottom: 0;
        width: 37%;
        height: auto;
        background-color: rgba(94,94,94,1);
        overflow: scroll;
    }
    #header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 150px;
        background-color: rgba(51,51,51,1);
    }
    .icon{
        max-width:100% !important;
        width: 20%;
        height: auto;
        display: block;
        padding: 50px 25px 25px 25px;
    }

    #container{
        margin-left: 20px;
    }

}

@media (min-width: 600px) {
    body {
        background-color: rgba(189,70,53,1);
        min-height:100%;
        padding:0;
        margin:0;
    }

    #title{
        color: rgba(94,94,94,1);
        font-size:300%;
        text-align: center;
        width: 100%;
        margin: 15px auto;
    }
    #navigation {
        position: absolute;
        top: 100px;
        bottom: 0;
        width: 37%;
        height: auto;
        background-color: rgba(94,94,94,1);
        overflow: scroll;
    }
    #header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-color: rgba(51,51,51,1);
    }
    .icon{
        max-width:100% !important;
        width: 20%;
        height: auto;
        display: block;
        padding: 50px 25px 25px 25px;
    }

    #container{
        margin-left: 20px;
    }
}