html *
{
   font-family: lato !important;
}
a:link {
	color: rgba(0,0,0,.75);
	text-decoration: none;
}
a:hover {
	color: rgba(0,0,0,.5);
	text-decoration: none;
}
a:visited {
	color: rgba(0,0,100,.3);
	text-decoration: none;
}
